:root {
  --primary-color: #0f8;
  --background-color: #222;
  --invert-font-color: #222;
}

body {
  font-family: courier new, monospace;
  color: var(--primary-color);
  margin: 2em;
  background: var(--background-color);
  font-size: 1em;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--invert-font-color);
}

#box {
  margin: 0 auto;
  width: 30%;
  border: 0.4em solid white;
  text-align: center;
  margin-top: 2em;
}

#bot-text {
  color: var(--primary-color);
  resize: none;
  margin: 0 auto;
  height: 8em;
  width: 50%;
  background: var(--background-color);
  border: 0.25em solid var(--primary-color);
  outline: none;
}

#whocamebybot-submit {
  font-family: inherit;
  border: 0.25em solid var(--primary-color);
  background: var(--primary-color);
  color: var(--background-color);
  width: 7.5em;
  height: 2.5em;
  cursor: pointer;
}

#bot-text::placeholder {
  color: #14804e;
}

.container {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
