body {
  font-family: courier new, monospace;
  color: #0f8;
  margin: 2em;
  background: #111;
  font-size: 1em;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: underline;
}

#box {
  margin: 0 auto;
  width: 30%;
  border: 0.4em solid white;
  text-align: center;
  margin-top: 2em;
}

#bot-text {
  color: #0f8;
  resize: none;
  margin: 0 auto;
  height: 8em;
  width: 50%;
  background: #111;
  border: 0.25em solid #0f8;
  outline: none;
}

#whocamebybot-submit {
  font-family: inherit;
  border: 0.25em solid #0f8;
  background: #0f8;
  color: #111;
  width: 7.5em;
  height: 2.5em;
  cursor: pointer;
}

#bot-text::placeholder {
  color: #14804e;
}

.container {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
