body {
  font-family: courier new, monospace;
  color: #0f8;
  margin: 30px;
  background: #111;
  font-size: 13px;
  height: 100vh
}

a {
  color: inherit;
  text-decoration: underline;
}

.my-info {
  font-size: 15px;
}

#terminal {
  white-space: pre-wrap;
  line-height: 1.4;
}

#box {
  margin: 0 auto;
  width: 30%;
  border: 5px solid white;
  text-align: center;
}

#bot-text {
  color: #0f8;
  resize: none;
  margin: 0 auto;
  height: 100px;
  width: 50%;
  background: #111;
  border: 2px solid #0f8;
  outline: none;
}

#whocamebybot-submit {
  border: 2px solid #0f8;
  background: #222;
  color: #0f8;
  width: 100px;
  height: 40px;
}

#bot-text::placeholder {
  color: #00964a;
}
